@import 'vars.scss';

.Message {
  padding: 20px 5px;
  .messageOut, .messageIn {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    flex-wrap: wrap; 
    p {
      padding: 8px; 
      border-radius: 15px;
      max-width: 70%;
      position: relative;
    }
    span {
      position: absolute;
      bottom: -20px;
      font-size: 12px;
      white-space: nowrap;
      }
  }
  .messageIn {
    p {
      text-align: left;
      background: $messagein;
      margin-right: auto;
      color: #fff;
      span {
        left: 5px;
        color: black;
      }
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  .messageOut {
    p {
      text-align: right;
      margin-left: auto;
      background: $messageout; 
      color: black;
      span {
        right: 5px; //0
      }
    }
  }
}

