@import 'vars.scss';

.ChatField {
  background: $fieldbgc;
  width: 70%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {  // hide scrollbar
    width: 0;
    height: 0;
  }
 
  &::-webkit-scrollbar-thumb   {
    height: 0 ;
    background-color: white ;
    border-radius: 0;
  }
  .chatContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}