@import 'vars.scss';

.MemberList {
  height: 100%;
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  // background-color: $uibgc;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid darken($uibgc, 10%);
  h3 {
    color: $mainClr;
    margin: 30px 5px;
    font-weight: 300;
    font-size: 22px;
  }
  
  &::-webkit-scrollbar {  // hide scrollbar
    width: 0;
    height: 0;
  }
 
  &::-webkit-scrollbar-thumb   {
    height: 0 ;
    background-color: white ;
    border-radius: 0;
  }
}


   