@import 'vars.scss';

.MemberHeader {
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  padding: 20px 0;
  padding-left: 5px;
  background-color: $uibgc;
  border-bottom: 1px solid darken($uibgc, 10%);
  z-index: 2;
  .memberContacts {
    display: flex;
    align-items: center;
    h2 {
      margin: 0;
      font-size: 21px;
      color: $mainClr;
      font-weight: 500;
    }
  }
}