@import 'vars.scss';

.MemberHeader {
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  padding-left: 5px;
  background-color: $uibgc;
  border-bottom: 1px solid darken($uibgc, 10%);
}