@import 'vars.scss';

.MemberItem {
  border-bottom: 1px solid $uibgc;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 5px;
  max-height: 100px;
  background: $memberbgc;
  color: black;
  text-decoration: none;
  cursor: pointer;
  .memberText {
    margin-right: auto;
    p {
      margin: 0;
      text-align: left;
    }
    h4 {
      margin: 0;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 14px;
      white-space: pre-line;
    }
  }
  span {
    font-size: 12px;
    margin-right: 10px;
  }
}

.activeDialog {
  background: $mainClr;
  color: #fff;
}